.error-page {
    height: 100vh;
    display: flex;
    width: 100vw;
}

.title-div {
    width: 35%;
}

.image-div {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.fire {
    width: 70%;
    height: 80%
}

.error-message {
    font-size: 6em;
    padding-left: 10px;
}