.cards {
    &:hover {
        transform: scale(1.1)
    }

    cursor: pointer;
}

.gear-page {
    display: flex;

}

.add-item {
    width: 35%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.main-gear {
    text-align: center;

}

.gear-title {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 5em;
}

form {
    text-align: center;
}

input[type='file'] {
    display: none;
}

.custom-add {
    display: inline-block;
    cursor: pointer;
    padding: 6px 12px;
    border: 1px solid gray;
    background-color: #DCDCDC
}