.fire {
    position: absolute;
    z-index: 1;
    top: 40%;
    left: 46%;
}

.nightFire {
    position: absolute;
    z-index: 1;
    top: 58%;
    left: 36%;
}

header {
    background-color: blue;
    position: relative;
    z-index: 0;
    width: 100vw;
    height: 400px;
    display: flex;
    justify-content: center;
}

.camping-image {
    height: 100%;
}

.camping-fire {
    height: 150px;
}