.dayCamping {

    width: 65vw;
    height: 98vh;
    display: flex;
    background-image: url('../assets/day-camp.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    margin-left: 1%;
    border-radius: 20px;
}


.nightCamping {

    width: 65vw;
    height: 98vh;
    display: flex;
    background-image: url('../assets/night-camp.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    margin-left: 1%;
    border-radius: 20px;
}

h1 {

    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

}